@media only screen and (min-width:400px) and (max-width:767px) {



    /* nav container nav-bar */
    .nav-bar {
        display: flex;
        height: 40px;
        padding: 34px 0;
        align-items: center;
    }

    .app-bars {
        padding: 20px;
        font-size: 20px;
        opacity: 0.9;
    }

    .app-title_head {
        padding: 16px 5px;
        font-size: 18px;
    }

   












}