
@media only screen and (min-width:400px) and (max-width:767px) {

   

    /* nav container nav-bar */
    .nav-bar
    {
        display: flex;
        height: 40px;
        padding: 34px 0;
        align-items:center;
    }
     .app-bars {
        padding: 20px;
        font-size: 20px;
        opacity: 0.9;
    }

    .app-title_head {
        padding: 16px 5px;
        font-size: 18px;
    }
    .cart-nav
    {
        display: flex;
        height: 40px;
        justify-content: space-around;
        list-style-type: none;
        position: relative;
    }
    .animate
    {
        position: absolute;
        background-color: var(--bs-primary);
        height: 3px;
        bottom: 0;
        left: 0;
        width: 150px;
        transition: all 0.4s;
        display: none;
        border-radius: 12px;
    }
    nav .first-icon, li:nth-child(1):hover~.animate
    {
        left: 30px;
        display: block;
    }
    li:nth-child(2):hover~.animate
    {
        left: 240px;
        display: block;
    }
    .li1
    {
        color: var(--bs-primary);
    }
    .cart-box
    {
        background-color: #fff;
        height: auto;
        width: 100%;
    }
    
    .cart-items
    {
         height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fa-shopping-basket,.fa-carrot
    {
        font-size: 100px;
        padding: 70px;
        color: #999;
        
    }
    .text-show
    {
        color: #000;
        font-size: 22px;
        font-weight: 500;
        padding: 15px 0;
    }
    .btn-primary
    {
        padding: 4px 40px;
        font-weight: 500;
    }

    /* clear grocery */

    .grocery
    {
        display: none;
    }
    .cart-item
    {
        display: grid;
        grid-template-columns: 32% 50% 18%;
        justify-content: space-between;
        border-bottom: 1px solid #79555544;
        padding:0 20px;
        column-gap: 3px;
        
    }
    .nav-bars
    {
        position: sticky;
        top: 0;
        background-color: #fff;
        z-index: 1000000;
    }
    .totalvalue
    {
        position: fixed;
        bottom: 0;
        background-color: #fff;
        z-index: 1000;
        height: 50px;
        width: 100%;
        padding: 4px 0;
         border-top: 1px solid rgba(0, 0, 0,0.2);
         border-bottom: 1px solid rgba(0, 0, 0,0.2);
         display: none;

       
        
    }
    .btn-warning
    {
        padding: 5px 50px;
    }
    .total-container
    {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        align-items: center;
        
    }
    .total
    {
        font-size: 20px;
    }
    .fa-minus,.fa-plus
    {
        padding:2px 8px;
    }
    .productsamt
    {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0,0.2);
        width: 100%;
        padding: 20px 0;
        background-color: #f4f5f8;
        overflow: hidden;
    }
    .amt-container
    {
        background-color: #fff;
        height: 275px;
        width: 380px;
        border-radius: 12px;
        border: 1px solid #fffffd;
    }
    .pricedetails
    {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        border-bottom: 0.1px solid rgba(0, 0, 0,0.2);
        
    }
    .pricedetails-tit
    {
        font-size: 15px;
        font-weight: 400;
       
    }
    .fa-chevron-down
    {
        font-size: 15px;
        color: #999;
        transition: all 0.3s ease-in-out;
    }
    .fa-chevron-down-active
    {
        transform: rotate(180deg);
        transition: all 0.3s ease-in-out;
    }
    .details-price
    {
      display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
         width: 90%;
        margin: 0 auto;
    }
    .details-container
    {
        display: none;
    }
    .details-container-active
    {
        display: block;
    }
    .details-price-active
    {
        width: 90%;
        background-color: #fff;
        border-radius: 15px;
        border: 1px solid rgba(0, 0, 0,0.1);
    }
    .assured
    {
        background-color: #f1f3f6;
        height: 100px;
    }
    










}